@media only screen and (min-width:360px) and (max-width:640px) {

    @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,700&display=swap');
    *{
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 20px;
      
    }
    :root {
        --second-color: #E4EDC2;
        --common-font:'Ubuntu', sans-serif;;
        --main-color: #7287AE;
    }
    

    .wrapper{
        width: 100%;
        height: 426px;
        background-color: var(--main-color);
        display: flex;

        flex-direction: column;
       

    }
    .waveshape
    {
        background-image:url(/images/wave.svg);
        background-position: center;
        background-size: cover;
        height: 100px;
        width: 100%;
        background-color:var(--second-color);
    }
    .navbar{
        width: 100%;
        height: 10%;
      display: flex;
    position: fixed;
    background-color: var(--main-color);
      z-index: 99;
   

    }
    .navleft

    {
        width:40%;
        height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 
    
    }
    .navleft img{
        width: 90%;
        height: 40%;
    }
       .navright
    {
        width:60%;
        height: 100%;
        display: flex;
    justify-content: flex-end;
    align-content: center;
    
    
    }
    .navright ul{
        display: flex;
      
        display: none;
    }
    .navright ul  a{
        text-decoration: none;
        color: aliceblue;
        font-family:var(--common-font);
        display: none;
    }
    .navright ul  a:hover{
        text-decoration:underline;
        color: aliceblue;
        font-weight: bolder;
        font-family: var(--common-font);
      
        display: none;
    }
    .navlist{
        display: none;
    }

    .navright ul li{
        margin-left: 40px;
        display: none;
    }
/*menu button****************/
.menubtn{
    width: 60%;
    height: 100%;
    border:1px solid red;
}
.container {
    display: inline-block;
    cursor: pointer;
    margin-right: 20px;
}
.bar1,
.bar2,
.bar3 {
    width: 50px;
    height: 7px;
    background-color: rgb(255, 255, 255);
    margin: 10px 0;
    transition: 0.4s;
}
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-11px, 11px);
    transform: rotate(-45deg) translate(-11px, 11px);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-10px, -10px);
    transform: rotate(45deg) translate(-10px, -10px);
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0%;
    height: 710px;
    background-color: var(--second-color);
    position: fixed;
    right: -60%;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    top: 0%;
    z-index: 999;
}
.changeslider {
    width: 100%;
    height: 710px;
    background-color: var(--second-color);
    position: fixed;
    -webkit-transition: 2s;
    -moz-transition: 2s;
    -ms-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    right: 30%;
    top: 0%;
    z-index: 999;
}

.navlist1 {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}
.navcontain {
    display: flex;
    justify-content: flex-end;
    width: 70%;
    height: 100%;
}
.navlist1 li {
    text-decoration: none;
    margin-top: 20px;
}
.navlist1 li img {
    width: 30vw;
    height: 42px;
}
.navlist1 a {
    font-size: 30px;
    text-decoration: none;
    color: var(--main-color);
    font-family: sans-serif;
    font-weight: 500;
}










    .middle-page{
      
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
        
    }
    .middle-page .header
    {  background-color:transparent;
        width: 100%;
        
      text-align: center;
      color: white;
      text-align: center;
    
      font-family: var(--common-font);
      display: flex;
      flex-direction: column;
      justify-content: center;
       
      
    }
    .middle-page .header h1{
        font-size:2rem;
        font-weight: bolder;
        font-family: var(--common-font);
      padding: 20px;
        
    }
    .popmenu{
       
        background-color: aqua;
        width: 100%;
        height: 1510px;
        display: flex;
        flex-direction: column;
        
        align-items: center;
        background-color:var(--second-color);
    } 
    .popheader{
        width: 100%;
        height: 20%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .popheader h1{
        font-size:2rem;
        font-weight: bolder;
        font-family:var(--common-font);
      color: var(--main-color);

    }
    .popcardsection{
        width: 100%;
        height: 80%;
    display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .popcardsection .card {
        width: 250px;
        height: 350px;
        border-radius: 10px;
        background-color:white;
        margin-bottom: 30px;
        box-shadow: 10px 10px 70px 3px black;

       
    }
    .popcardsection .card:hover{
        transform: scale(1.1);

    }
    .popcardsection .card .cardimgsec{
        width: 100%;
        height: 60%;
        border-radius: 10px;
    }
    .popcardsection .card .cardtextsec{
        width: 100%;
        height: 60%;
    }
    .popcardsection .card .cardtextsec p{
        margin-top: 10px;
        font-size:0.8rem;
        margin-bottom: 10px;
    }
    .popcardsection .card img{
        width: 100%;
        height: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

    }
    .popcardsection .card h1,p{
        font-family: var(--common-font);
        margin-top: 10px;
        padding-left: 10px;

    }
    .pricecolor{
        color: brown;
    }
  
    .popbtnsection{
        width: 100%;
        height: 30%;
       
        display: flex;
        justify-content: center;
        align-items:center;
    }
    button{
        width: 200px;
        background-color:var(--main-color);
        border-radius:30px;
        height: 50px;
        color: white;
    }
    /*******************/
  
    .spcialsection{
        width: 100%;
        height: 1200px;
display: flex;
flex-direction: column;
    }
    .firstspsction{width: 100%;
        height: 50%;
        display: flex;
flex-direction: column;

    }
    .secondspsction{width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column-reverse;
    }
    .firstspsction .imgsec{
        width: 100%;
        height: 100%;
        background-image: url(/images/pinkdish.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    }
 
    .firstspsction  .textsec{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        
    }
    .secondspsction .imgsec{
        width: 100%;
        height: 100%;
        background-image: url(/images/orangedish.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    }

    .secondspsction .textsec{
       
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
    }
    .spcialsection h1{
        font-size:2rem;
        font-weight: bolder;
        font-family:var(--common-font);
      color: black;
      width: 80%;
      padding-left:20px;
      text-align: center;
   
    }
    .spcialsection p{
       width: 250px;
        font-weight: bolder;
        font-family:var(--common-font);
        color: black;
        font-size: 16px;
        padding-left:20px;
        padding-bottom: 20px;
        text-align: center;
    }
    .spcialsection button
{
    margin-left: 10px;
    margin-bottom: 20px;
}


.stepsection{
    width: 100%;
    height: 867px;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.stepsection .header{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.stepsection .header h1{
    font-size: 3pc;
    font-weight: bolder;
    font-family:var(--common-font);
    color: white;
}
.stepsection .cardsection{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    
}
.stepsection .cardsection .card{

    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}
.stepsection .cardsection .card .number{
    width: 80px;
    height: 80px;
    color: black;
    border-radius: 100%;
    display: flex;
    background-color: white;

 
    justify-content: center;
    align-items: center;
}
.stepsection .cardsection .card .number h1{
    font-size: 1.8pc;
    color: var(--main-color);
}
    .stepsection .cardsection .card  h1{
    font-size:2pc;
    font-weight: bolder;
    font-family:var(--common-font);
 color: white;
}
.stepsection .cardsection .card  p{
    font-size:0.9pc;
    font-weight: bolder;
    font-family:var(--common-font);
 color: white;
 width: 100%;
 text-align: center;
}

.vegtablesection{
    width: 100%;
    height: 568px;
    background-image: url(/images/vegibg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.vegtablesection h1{
    font-weight: bolder;
    font-family:var(--common-font);
    font-size: 3.8pc;
    color: var(--main-color);
    margin-bottom: 20px;
    text-align: center;
}
.vegtablesection p{
    font-weight: bolder;
    font-family:var(--common-font);
    font-size: 1pc;
    color: var(--main-color);
    width: 300px;
    text-align: center;
    margin-bottom: 60px;
}

.vegtablesection .textsection{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}
  
.vegtablesection button{
    width:320px;
    height: 70px;
    font-family:var(--common-font);
    font-weight: bolder;
}
.lastsection{
    width: 100%;
    height: 710px;
    background-color: var(--second-color);
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;

}
.lastsection .textsection{
    width:100%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

  
}
.lastsection .textsection h1{
    font-size: 12pc;
height: 130px;
color: var(--main-color);
}
.lastsection .textsection  p{
    font-size:1.4rem;
    font-weight: bolder;
    text-align: center;
    font-family:var(--common-font);
    color: var(--main-color);
    margin-bottom: 20px;
}
.lastsection .textsection  h2{
    font-size:1rem;
    font-weight: bolder;
    text-align: center;
    font-family:var(--common-font);
    color: var(--main-color);
}
.lastsection img {
    width: 40px;
    height: 40px;
 
    
}
.socialmedia{

    margin-top: 40px;

    width: 40%;
    display: flex;
    justify-content: center;
}
.socialmedia img{
    margin-left: 20px;
}
.wavesection{
background-image:url(/images/waveup.svg);
        background-position: center;
        background-size: cover;
        height: 20%;
        width: 100%;
     
}
.footer{
    width: 100%;
    height: 355px;
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footersection{
    width: 80% ;
    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutsec{
    width: 100%;
    height: 50%;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   
}
.aboutsec p{
    font-family: var(--common-font);
    color: white;
}
.aboutsec h1{
    font-family: var(--common-font);
    color: white;
   
}
.menusec{
    width: 100%;
    height: 50%;
   
    display: flex;
    flex-direction: row;

}
.menusec .flist{
    width: 36%;
    height: 100%;
    
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
   
}
.menusec .flist a{
    text-decoration: none;
    font-family: var(--common-font);
    color: white;
    margin-right: 10px;
    

}
.menusec .flist h2{
    text-decoration: none;
    font-family: var(--common-font);
    color: white;
  
}



    
}